body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.header_logo {
    width: 200px;
    margin-left: 600px;
}

.text {
    color: whitesmoke;
    font-size: 20px;
    padding-top: 50px;
    padding-right: 60px;
    padding-left: 60px;
    line-height: 1.5;
}

.img_1 {
    width: 570px;
    border-radius: 50px;
    padding-left: 15px;
}

.img_2 {
    width: 570px;
    border-radius: 50px;
}

.image_text {
    display: inline-block;
    padding-top: 15px;
    padding-left: 170px;
}
.list li {
    color: white;
    align-content: center;
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
    list-style-type: none;
}
.list li a {
    text-decoration: none;
    color:rgb(255, 255, 255) ;
}

.list li a:hover {
    color:  rgb(0, 125, 197);;
}