body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}
#intro {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding-top: 40px;
}
.list li {
    color: white;
    align-content: center;
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
    list-style-type: none;
}
.list li a {
    text-decoration: none;
    color:rgb(255, 255, 255) ;
}
.list li a:hover {
    color: rgb(0, 125, 197);
}
.line {
    display: inline-block;
    padding-left: 70px;
}
.img_1 {
    width: 500px;
    border-radius: 20px;
}
.align {
    margin: 0 auto;
    width: 100%;
}
.img_2 {
    width: 400px;
    border-radius: 20px;
    padding-left: 0;
    margin-left: 70px;
}
.pad {
    padding-top: 30px;
}