body {
    background-image: url('../index_images/germanAuto\(index\).jpg');
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}
#intro {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding-top: 60px;
}
.list li {
    color: white;
    align-content: center;
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
    list-style-type: none;
}
.list li a {
    text-decoration: none;
    color:rgb(255, 255, 255) ;
}
.list li a:hover {
    color: rgb(0, 125, 197);
}